<!-- <div
  class="body w-[100%] h-[400px] bg-cover flex align-middle"
>
  <div
    class="flex flex-col m-1 items-center text-center text-black md:flex-row md:justify-around md:m-8"
  >
    <h1 class="text-lg w-[80%] md:w-[60%] font-bold md:text-5xl">
      Shree Vishwavijaya Ayurvedic clinic, Panchkarma , Leech therapy, Cupping
      therapy Centre
    </h1>
    <img
      src="https://lh3.googleusercontent.com/p/AF1QipNYEwLi59MI1yGGsBLtlHFFqoS7ok4DVPWzSNMl=w960-h960-n-o-v1"
      alt="Doctor image"
      class="w-[200px] h-[200px] md:w-[300px] md:h-[300px] text-center rounded-full"
    />
  </div>
</div> -->
<div class="flex protest-strike-regular">
  <div class="bg-[#12372A] w-[100%] md:h-[500px] h-[300px] bg-cover flex justify-center items-center  ">
    <div class="text-[#FBFADA] w-[80%]">
    <h1 class="text-xl md:text-5xl mask">
      Shree Vishwavijaya Ayurvedic clinic 
    </h1>
    <h3 class="text-lg text-[#ECE3CE] md:text-3xl mt-6 mask">Panchkarma, Leech therapy, Cupping
      therapy Centre</h3>
    </div>
  </div>
  <div class="body w-[100%] h-[500px] bg-cover md:flex justify-center align-middle hidden">
    <!-- <h1 class="text-lg w-[80%] text-[#12372A] text-center font-bold md:text-5xl block md:hidden">
      Shree Vishwavijaya Ayurvedic clinic, Panchkarma , Leech therapy, Cupping
      therapy Centre
    </h1> -->
  </div>
</div>
<app-therapies class="inria-sans-regular"></app-therapies>

<app-gallery></app-gallery>
<app-about class="inria-sans-regular"></app-about>

<app-testomonials class="inria-sans-regular"></app-testomonials>
<!-- <div class="body-text">
    <h1 class="text-4xl">Vishwavijaya Ayurvedic Center</h1>
</div> -->
