<div class="flex protest-strike-regular">
  <div class="bg-[#12372A] w-[100%] md:h-[500px] h-[300px] bg-cover flex md:flex-row justify-center align-middle items-center">
    <div class="w-[100px] m-2 md:w-[200px]">
      <img src="../../assets/images/clinic_logo.jpeg" alt="Clinic logo">
    </div>
    <div class="text-[#FBFADA] w-[80%] flex justify-center items-center flex-col">
    <h1 class="text-xl md:text-5xl mask">
      Shree Vishwavijaya Ayurvedic clinic 
    </h1>
    <h3 class="text-lg text-[#ECE3CE] md:text-3xl mt-6 mask">Panchkarma, Leech therapy, Cupping
      therapy Centre</h3>
    </div>
  </div>
  <div class="body w-[100%] h-[500px] bg-cover md:flex justify-center align-middle hidden">
  </div>
</div>
<app-treatments></app-treatments>
<app-therapies class="inria-sans-regular"></app-therapies>

<app-gallery></app-gallery>
<app-about class="inria-sans-regular"></app-about>

<app-testomonials class="inria-sans-regular"></app-testomonials>
<!-- <div class="body-text">
    <h1 class="text-4xl">Vishwavijaya Ayurvedic Center</h1>
</div> -->
