<div class="box flex flex-col hover:scale-105 transition-all duration-300 overflow-hidden cursor-pointer w-[13rem] h-[22rem] rounded-lg items-center m-1">


    <div class="p-3">
        <h3 class="font-medium text-sm">Rating - 3.7</h3>

        <p class="mt-2 text-gray-500 text-sm">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum nobis culpa sunt quod. Qui soluta corporis
            non possimus perspiciatis vero, quia eius consequuntur veritatis cumque sunt, vitae ea natus facilis?
        </p>

        <p class="m-1 font-semibold italic text-end">User name</p>
    </div>
</div>