<div class="block m-2  footer bg-[#FBFADA] md:flex justify-around md:m-3 p-1 bottom-0 rounded-lg">

    <div class="">
        <div class="font-bold">Address</div>
  
        <a href="https://www.google.com/maps/place/Shree+Vishwavijaya+Ayurvedic+clinic,+Panchkarma+,+/data=!3m1!4b1!4m2!3m1!1s0x3bc2b9f813f3bbb3:0xbf4fd688e94c51dc" target="_blank"><button class="bg-green-400 hover:bg-green-600 p-2 rounded-sm">GET DIRECTIONS</button></a>
      
        <address>
            Opp Pandit petrol pump, <br>
            dange chowk, wakad , tathawade
            <br>
            Wakad
            <br>
            Pune, Maharashtra 411033
            <br>
            India
        </address>
      
    </div>

    <div class="italic">
        <div class="font-bold">Bussiness Hours</div>
 <div>Mon:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM</div>
<div>Tue:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM </div>
<div>Wed:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM </div>
<div>Thu:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM </div>
<div>Fri:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM </div>
<div>Sat:	10:00 AM – 2:00 PM, 5:00 – 9:00 PM </div>
<div>Sun:	10:00 AM – 2:00 PM</div>
</div>


