<div>
    <div class="block m-2 text-center  footer bg-[#FBFADA] md:flex justify-around md:m-3 md:items-center md:align-middle p-1 bottom-0 rounded-lg" id="footer">

        <div class="">
            <div class="font-bold">Address</div>
      
            <a href="https://www.google.com/maps/place/Shree+Vishwavijaya+Ayurvedic+clinic,+Panchkarma+,+/data=!3m1!4b1!4m2!3m1!1s0x3bc2b9f813f3bbb3:0xbf4fd688e94c51dc" target="_blank"><button class="bg-[#739072] text-white hover:bg-[#4F6F52] p-2 rounded-sm">GET DIRECTIONS</button></a>
          
            <address>
                Opp Pandit petrol pump, <br>
                dange chowk, wakad , tathawade
                <br>
                Wakad
                <br>
                Pune, Maharashtra 411033
                <br>
                India
            </address>
          
        </div>
    
        <div class="flex items-center justify-center text-white">
            <a href="tel:8830769193"><button class="p-2 m-2 bg-[#739072] hover:bg-[#4F6F52] h-full">
                Call Now
            </button></a>
        </div>
    
        <div class="italic p-2 bg-[#739072] opacity-90 text-white">
            <div class="font-bold"> Bussiness Hours</div>
     <div>Mon:&nbsp;10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM</div>
    <div>Tue:	10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM </div>
    <div>Wed:	10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM </div>
    <div>Thu:	10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM </div>
    <div>Fri:	10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM </div>
    <div>Sat:	10:00&nbsp;AM-2:00&nbsp;PM, 5:00-9:00&nbsp;PM </div>
    <div>Sun:	10:00&nbsp;AM-2:00&nbsp;PM</div>
    </div>
</div>


<div class="text-center bg-[#FBFADA] italic py-2">
        <div class="block w-[100%]">
            Copyright&#64;2024 by <br>
            kumbharshrishail735&#64;gmail.com
        </div>
</div>


