<div class="parallex w-[100%] min-h-[200px] md:min-h-[400px] flex justify-center items-end text-white font-extrabold sticky">
   <h1 class="text-3xl md:text-9xl">ABOUT</h1>
</div>
<div class="block md:flex p-10 gap-5 text-center">
 <div class="flex md:w-[50%] justify-center">
    <img class="rounded-full" src="https://lh3.googleusercontent.com/p/AF1QipNYEwLi59MI1yGGsBLtlHFFqoS7ok4DVPWzSNMl=w960-h960-n-o-v1" alt="Dr photo">
 </div>
 <div class="information text-center w-[100%]">
    <h3 class="uppercase text-xl md:text-5xl font-bold">Dr. Pritam Ghugul</h3>
    <h4 class="uppercase text-sm md:text-3xl italic">Ayurvedacharya</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, molestiae. Cumque et doloribus laboriosam itaque. Vero perspiciatis, voluptatum non sapiente debitis ex laboriosam aliquid tenetur? Inventore quas amet excepturi consequuntur non officia laboriosam, illum quo eum nam, quaerat corporis. Ducimus suscipit minima incidunt architecto vero aut sed quae ullam blanditiis sint exercitationem cum laborum id eaque repellat nulla, dolor eos sit. Unde aperiam accusamus voluptatem molestias magnam! Nesciunt repellendus enim maiores quisquam itaque consectetur? Qui numquam placeat expedita assumenda asperiores enim beatae dignissimos amet consequuntur animi laboriosam velit quidem, laudantium commodi. Similique necessitatibus obcaecati rem aspernatur maiores tenetur, porro nisi.
    </p>
 </div>
</div>