.parallex
{
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipOr5tGUiWv83kH7NtmVHYD4Hc7K9dR_KMJGpW9p=w1080-h608-p-no-v0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.about
{
    transform: translateY(50vw); opacity: 0;
    animation: left-to-right linear forwards;
    animation-timeline: view();
    animation-range: 150px 400px;
    overflow: hidden;
}

@keyframes left-to-right {
    to {transform: translateY(0px); opacity: 1;}
}