.parallex
{
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipOr5tGUiWv83kH7NtmVHYD4Hc7K9dR_KMJGpW9p=w1080-h608-p-no-v0");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}