<div class="parallex w-[100%] min-h-[200px] md:min-h-[300px] flex justify-center items-end text-white font-extrabold sticky">
   <h1 class="text-3xl md:text-9xl">ABOUT</h1>
</div>
<div class="block md:flex p-10 gap-5 text-center about">
 <div class="flex justify-center">
    <img class="max-w-[400px] rounded-full" src="https://lh3.googleusercontent.com/p/AF1QipNYEwLi59MI1yGGsBLtlHFFqoS7ok4DVPWzSNMl=w960-h960-n-o-v1" alt="Dr photo">
 </div>
 <div class="information text-center w-[100%]">
    <h3 class="uppercase text-xl md:text-5xl font-bold">Dr. Pritam Ghugul</h3>
    <h4 class="uppercase text-sm md:text-3xl italic">Ayurvedacharya</h4>
    <ul class="text-xl">
      <li>Dr. Pritam S. Ghugul is the pioneer of <b>Vishwavijaya Ayurvedic Clinic and Panchkarma Center</b>. </li>
      <li>Well trained in <b>Guru Shishya parampara </b> under well known Rajvaidya Dr. Sameer Jamadagni.</li>
      <li>Completed <b>M.D.Ac certification</b> in medicine institute registered by the goverment of Rajasthan.</li>
      <li>Completed <b>B.A.M.S</b> from Chaitanya Ayurved college. Sakegaon, Maharashtra.</li>
      <li>Recieved <b>Proud Gold award in Practitioners growth conclave </b> and <b>icon award 2024 </b> in Ahemedabad, Gujrat.</li>
      <li>Also, recieved <b>Shiromani Excellence in quality consultation 2017-18 </b> from Jiva Ayurveda.</li>
    </ul>
 </div>
</div>