<div class="productCard bg-[#436850] w-[18rem] h-[27rem] m-2 transition-all cursor-pointer">
  <div class="h-[15rem]">
    <img
      class="h-full w-full"
      src="https://lh3.googleusercontent.com/p/AF1QipOwlbyrxUVoi1kPwwr1p1zEZU4TLFL7xN6RAArK=w960-h960-n-o-v1"
      alt="Services"
    />
  </div>

  <div class="textPart p-3 bg-[#ADBC9F]">
    <div class="text-center">
      <p class="font-bold">Therapy Name</p>
      <p class="overflow-hidden text-[#FBFADA] text-xs font-medium h-[7rem]">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nulla
        iste veritatis cupiditate placeat voluptas omnis minus incidunt iure
        reprehenderit tempore nihil libero consectetur harum eveniet facilis
        similique, amet ducimus. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Autem nulla iste veritatis cupiditate placeat voluptas
        omnis minus incidunt iure reprehenderit tempore nihil libero consectetur
        harum eveniet facilis similique, amet ducimus.
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Autem nulla
        iste veritatis cupiditate placeat voluptas omnis minus incidunt iure
        reprehenderit tempore nihil libero consectetur harum eveniet facilis
        similique, amet ducimus. Lorem ipsum dolor sit amet consectetur,
        adipisicing elit. Autem nulla iste veritatis cupiditate placeat voluptas
        omnis minus incidunt iure reprehenderit tempore nihil libero consectetur
        harum eveniet facilis similique, amet ducimus. 
      </p>
    </div>
  </div>
</div>
