.Active
{
    border-bottom:3px solid white;
    background: #12372A;
    border-radius: 5px;
}

#gallery
{
    scale: 0.8; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline:view() ;
    animation-range:150px 400px;
}

@keyframes fade-in {
    to {scale: 1; opacity: 1;}
}