.therapies
{
    animation: scaled 0.7s linear;
}

@keyframes scaled{
    0%{
        transform: scale(0);
    }
    90%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
